<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <h3 class="centered-text">¡Bienvenido a la plataforma!</h3>
            <p class="centered-text gray-colored">Rellena el formulario para completar registro.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombres" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Apellidos" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Repeat Password" />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary full-width" (click)="onSignUp()">Registrar</button>
    </form>
  </div>
</div>
