<div class="row">
  <div class="col-md-12">
    <form [formGroup]="registrationLayoutForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <h3 class="centered-text">¡Bienvenido a la plataforma!</h3>
            <p class="centered-text gray-colored">Rellena el formulario para completar registro.</p>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="responseMessage != ''">
        <div class="col-sm-12">
          <div class="form-group">
            <div [ngClass]="alertResponseClasses">
              {{ responseMessage }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Cédula: V-12345678" formControlName="cid" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombres" formControlName="firstName"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Apellidos" formControlName="lastName"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" formControlName="password"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Repeat Password" formControlName="confirmationPassword"/>
          </div>
        </div>
      </div>
      <button [disabled]="requestMade" type="submit" class="btn btn-primary full-width" (click)="onSignUp()">Registrar</button>
    </form>
  </div>
</div>
