@import './themes';

@mixin action-icon() {
  nb-action {
    padding: 0 0.5rem 0 0;

    i {
      color: nb-theme(color-fg);
      font-size: 3rem;
      margin-right: 0.5rem;
      transition: color ease-out 0.2s;

      @include nb-for-theme(corporate) {
        color: nb-theme(actions-fg);
      }
    }

    span {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg);
      text-transform: uppercase;
      transition: color ease-out 0.2s;
    }

    &:hover {
      cursor: pointer;

      span {
        color: nb-theme(color-fg-heading);
      }

      i {
        color: nb-theme(color-fg-heading);
      }
    }
  }
}
