@import '../../../../@theme/styles/themes';
@import '../../../../@theme/styles/action-icon';
@import '../../../../@theme/styles/custom-validators-feedback';

@include nb-install-component() {
  @include action-icon();
  @include custom-validators-feedback();

  .append-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
