@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@mixin title($font-size: 1rem) {
  font-family: nb-theme(font-secondary);
  font-size: $font-size;
  font-weight: nb-theme(font-weight-bold);
  color: nb-theme(color-fg-heading);
  @content;
}

@mixin content($font-size: 0.75rem) {
  font-size: $font-size;
  margin-top: 10px;
  font-weight: nb-theme(font-weight-bold);
  color: nb-theme(color-fg);
  @content;
}

@include nb-install-component() {
  .header-title {
    @include title(1.25rem);
  }

  .body-title {
    @include title(1.25rem);
  }

  .header-content {
    @include content(1.15rem);
  }

  .body-content {
    @include content(1.1rem);
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  nb-card {
    margin: 10px;
  }

  .primary {
    @include btn-hero-primary-gradient();
    @include btn-hero-primary-bevel-glow-shadow();
  }
  .warning {
    @include btn-hero-warning-gradient();
    @include btn-hero-warning-bevel-glow-shadow();
  }
  .danger {
    @include btn-hero-danger-gradient();
    @include btn-hero-danger-bevel-glow-shadow();
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 8px 6px 0px 0px;
  }

  nb-action {
    padding: 0 0.5rem 0 0;

    i {
      color: nb-theme(color-fg);
      font-size: 3rem;
      margin-right: 0.5rem;
      transition: color ease-out 0.2s;

      @include nb-for-theme(corporate) {
        color: nb-theme(actions-fg);
      }
    }

    span {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg);
      text-transform: uppercase;
      transition: color ease-out 0.2s;
    }

    &:hover {
      cursor: pointer;

      span {
        color: nb-theme(color-fg-heading);
      }

      i {
        color: nb-theme(color-fg-heading);
      }
    }
  }
}
